*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  width: 80%;
}

.nav_link {
  display: flex;
}

.nav_link img {
  width: 70px;
  height: 50px;
  border-radius: 45%;
  margin: 10px;
}

#imgg img {
  width: 110px;
  height: 95px;
}

svg{
  width: 20px;
  height: 15px;
}

.input{
  display: flex;
  margin-top: 15px;
}

.nav_link ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-left: 700px;
  
}

.section {
  height: 510px;
  width: 70%;
  margin: auto;
}

.body_sec {
  display: flex;
}

.body_sec2 {
  display: flex;
  margin-top: 70px;
  justify-content: center;
}

footer {
  background-color: rgb(242, 186, 119);
  color: black;
  height: 50px;
  margin-left: 30px;
  text-align: center;
}