.logo {
  width: 10rem;
  height: 10rem;
}

header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 5rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
}

.nav-link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

svg {
  width: 20px;
  height: 15px;
}

footer {
  border-top: 0.3rem solid #000;
  height: 5rem;
  font-size: 1.4rem;
}

.footer-text {
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
  color: #000;
  font-weight: 500;
}

.nav_link img {
  width: 70px;
  height: 50px;
  border-radius: 45%;
  margin: 10px;
}

#imgg img {
  width: 110px;
  height: 95px;
}

.interactive-btns {
  display: flex;
  flex-direction: column;
}

.nav_link ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-left: 700px;
}

.section {
  width: 80%;
  margin: 0 auto;
}

.body_sec {
  display: flex;
}

.body_sec2 {
  display: flex;
  margin-top: 70px;
  justify-content: center;
}

/* comment popup */

.comment-popup {
  top: 0;
  bottom: 0;
  left: 2rem;
  right: 0;
  z-index: 100;
  background-color: #fff;
  display: block;
  width: 90%;
  height: min-content;
  position: absolute;
  border: 0.5rem solid #000;
  text-align: center;
}

.comment-popup-img {
  margin: 3.2rem auto;
  clear: both;
  width: 30rem;
  height: 24rem;
}

.comment-popup-title {
  text-align: center;
}

.comment-popup-exit-btn {
  width: 4.2rem;
  height: 4.2rem;
  float: right;
  margin-top: 2rem;
  margin-right: 2rem;
}

.comment-popup-meal-details-list {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.popup-comment-section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.popup-comments-item {
  font-size: 1.3rem;
  font-weight: 500;
}

/* comment popup form */

.popup-comment-submit-form {
  width: 60%;
  padding: 2.5rem;
  margin: 0 auto;
}

.comment-input {
  margin-top: 3rem;
  display: block;
  margin-bottom: 2rem;
  border: 0.3rem solid #000;
  padding: 0.7rem;
}

.popup-comment-submit-form-insights {
  height: 5em;
}

.popup-comment-submit-form-comment-btn {
  display: block;
  padding: 0.8rem 1.2rem;
  margin-left: 0;
  border: 0.3rem solid #000;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #fff;
}

@media (min-width: 764px) {
  .comment-popup {
    left: 20rem;
    width: 70%;
  }

  .comment-popup-img {
    width: 40rem;
    height: 30rem;
  }

  .comment-popup-exit-btn {
    margin-top: 4rem;
    margin-right: 5rem;
  }
}
