.logo {
  width: 10rem;
  height: 10rem;
}

header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 5rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
}

.nav-link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

footer {
  border-top: 0.3rem solid #000;
  height: 5rem;
  font-size: 1.4rem;
}

.footer-text {
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
  color: #000;
  font-weight: 500;
}

.footer-text > a:link,
a:visited {
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.footer-text > a:hover,
a:active {
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  color: #ff8000;
}

.footer-text > span {
  font-size: 1.1rem;
  font-weight: 700;
}

.section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  padding-bottom: 18rem;
}

.meal-item {
  display: flex;
  flex-direction: column;
  width: 21rem;
  gap: 1.2rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0 1px 0, rgba(17, 17, 26, 0.1) 0 8px 24px,
    rgba(17, 17, 26, 0.1) 0 16px 48px;
}

.meal-item-img {
  width: 100%;
}

.meal-item-title {
  font-size: 1.4rem;
  margin-left: 1.2rem;
}

.meal-item-like-btn {
  width: 2.4rem;
  float: left;
  margin-left: 1.2rem;
  cursor: pointer;
}

.meal-item-like-counter {
  float: left;
  display: inline;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 1.2rem;
}

.meal-card-input {
  border: 0.2rem solid #000;
  padding: 0.3rem 0.6rem;
  background-color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0.2rem;
  cursor: pointer;
}

.meal-card-input:last-child {
  margin-bottom: 0;
}

/* comment popup */

.comment-popup-wrapper {
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
}

.comment-popup {
  width: 90%;
  margin: 3.5rem auto;
  background-color: #fff;
  text-align: center;
}

.comment-popup-img {
  margin: 3.2rem auto;
  clear: both;
  width: 30rem;
  height: 24rem;
}

.comment-popup-exit-btn {
  width: 4.2rem;
  height: 4.2rem;
  float: right;
  margin-top: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}

.comment-popup-meal-details-list {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.popup-comment-section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.popup-comments-item {
  font-size: 1.3rem;
  font-weight: 500;
}

.popup-class {
  overflow: hidden;
}

/* comment popup form */

.popup-comment-submit-form {
  width: 50%;
  padding: 2.5rem;
  margin: 0 auto;
  cursor: pointer;
}

.comment-input {
  margin-top: 3rem;
  display: block;
  margin-bottom: 2rem;
  border: 0.3rem solid #000;
  padding: 0.7rem;
}

.popup-comment-submit-form-insights {
  height: 5em;
}

.popup-comment-submit-form-comment-btn {
  cursor: pointer;
  display: block;
  padding: 0.8rem 1.2rem;
  margin-left: 0;
  border: 0.3rem solid #000;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #fff;
}

@media (min-width: 764px) {
  .comment-popup {
    margin: 3 auto;
    width: 60%;
  }

  .comment-popup-img {
    width: 40rem;
    height: 30rem;
  }

  .comment-popup-exit-btn {
    margin-top: 4rem;
    margin-right: 5rem;
  }
}
